obj/
bin/
*.user
*.suo
*.cache
*.log
*.vscode/
.DS_Store
Thumbs.db
.vs/
.idea/
*.config
*.bak
*.key
binaries/
artifacts/
node_modules/
packages/
*.dll
publish/
publishOutput/
*.log
*.pdb
