@model TaskHub.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h4 class="p-3">User</h4>
<div class="row">
    <!-- Main content -->
    <section class="content">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Edit a User</h3>
                            </div>
                            <div class="card-body d-flex">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="UserName" class="control-label"></label>
                                        <input asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="LastName" class="control-label"></label>
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FirstMidName" class="control-label"></label>
                                        <input asp-for="FirstMidName" class="form-control" />
                                        <span asp-validation-for="FirstMidName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="EnrollmentDate" class="control-label"></label>
                                        <input asp-for="EnrollmentDate" class="form-control" />
                                        <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                                    </div>
                                    <!-- /.form group -->
                                </div>
                            </div>

                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Edit" class="btn btn-info float-right" />
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
